body{
    background-image:url("bg.png");
    background-repeat:no-repeat;

}

h1{
    color:rgb(212, 93, 38);
    padding-top:2pc;
    font-style:bold;
    font-family: Arial;
    font-size:40px;

}

hr{
    width:350px;
    margin-bottom: 3pc;
    color:gold;
}

input{
    margin:10px;
    width:300px;
    height:35px;
    border-radius: 15px;
    border-color: gold;
    font-family: Arial, Helvetica, sans-serif;
    font-style:bold;
    font-size: 15px;
    outline: none;
    background-color: rgb(196, 207, 180);
}

.signUp{
    position: relative;
    left:180px;
    width: 180px;
    height:30px;
    text-align: center;
    background-color:rgb(255, 166, 0);
    color:rgb(124, 102, 39);
    border:none;
    font-family: Arial, Helvetica, sans-serif;
    font-style:bold;
    font-size: 15px;
    transition: 0.2s all;
}
.signUp::after{
    content: '';
    position: absolute;
    left: 0; bottom:0; width: 0; height: 0;
    border-left: 25px solid rgb(25, 170, 146);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.signUp::before{
    content: '';
    position: absolute;
    right:-1px;
    bottom:0;
    width:0;
    height:0;
    border-right: 25px solid rgb(25, 170, 146);
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}
.signUp:active{
    transform: scale(0.80);
}

.signIn{
    margin: 10px;
    width: 180px;
    height:40px;
    text-align: center;
    background-color:orangered;
    border-radius: 15px;
    border-color:gold;
    box-shadow: 5px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-style:bold;
    font-size: 20px;
    transition: 0.2s all;
}
.signIn:active{
    transform: scale(0.90);
}
h3{
    position: relative;
    top:15px;
    font-style: bold;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.outer{
    margin:5pc;
    background-color: rgb(25, 170, 146);
    width:400px;
    border: 2px white;
    border-radius:10px;
    border-color: gold;
    border-width:5px;
    width:490px;
    height:420px; 
    text-align:left;  
	position:relative;
	left:20pc;
}

.inner{
    position: relative;
    right:0pc;
    border: 2px white;
    border-radius:10px;
    border-color: gold;
    border-width:5px;
    background-color: rgb(244, 245, 239);
    width:500px;
    height:400px;
    text-align:center;
    
}


